代码库/社区/PC端/新界面新框架/Api/Web References/Cn52cosSq/SingleSendSmsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SingleSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paramString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SingleSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SingleSendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SingleSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SingleSendSms" />
  </wsdl:message>
  <wsdl:message name="SingleSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SingleSendSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="SingleSendSmsWebServiceSoap">
    <wsdl:operation name="SingleSendSms">
      <wsdl:input message="tns:SingleSendSmsSoapIn" />
      <wsdl:output message="tns:SingleSendSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SingleSendSmsWebServiceSoap" type="tns:SingleSendSmsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SingleSendSms">
      <soap:operation soapAction="http://tempuri.org/SingleSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SingleSendSmsWebServiceSoap12" type="tns:SingleSendSmsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SingleSendSms">
      <soap12:operation soapAction="http://tempuri.org/SingleSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingleSendSmsWebService">
    <wsdl:port name="SingleSendSmsWebServiceSoap" binding="tns:SingleSendSmsWebServiceSoap">
      <soap:address location="http://sq.52cos.cn/WebService/SingleSendSmsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SingleSendSmsWebServiceSoap12" binding="tns:SingleSendSmsWebServiceSoap12">
      <soap12:address location="http://sq.52cos.cn/WebService/SingleSendSmsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>